
<header>
    <h1>WATCHACAT Launching Soon!!</h1>
    <p>We are a new way to capture your daily happiness... and want you to show it to the world and let them share a smile with you..
    </p>

</header>
 
<div class="wrapper">
    <div class="screen" id="screen-1" data-video="">    
        <h1 class="video-title"></h1>
    </div>
</div>

<div class="loginForm">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
 
<nav id="next-btn">
    <a href="#" class="next-icon"></a>
</nav>

    <%= javascript_include_tag "application" %>
    <script src="/assets/jquery.imagesloaded.min.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="/assets/bigvideo.js"></script>
    <script type="text/javascript">
    var BV = new $.BigVideo();
      BV.init();

 
      BV.show("<%= request.protocol + request.host_with_port + asset_path('main-video.mp4') %>",{ambient:true});
     
          BV.getPlayer().addEvent('loadeddata', function() {
        onVideoLoaded();
      });

  $('#next-btn').on('click', function(e) {
    e.preventDefault();
   
});

    </script>











  